@model IEnumerable<Homework_22.Models.User>
@{
    ViewData["Title"] = "Users list";
}

<table class="simple-little-table" cellspacing='0'>
    <tr style="font-size:20px;">
        <th>Username</th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <th>@user.UserName</th>
            <th><a asp-controller="Roles" asp-action="Edit" asp-route-id="@user.Id">Access Level</a></th>
            <th>
                <form class="form-simple" method="post" asp-route-id="@user.Id" asp-action="Delete" id="delButton">
                    <a href="#" onclick="document.getElementById('delButton').submit()">Delete</a>
                </form>
            </th>
        </tr>
    }
</table>

<a class="button" asp-action="Create">Add user</a>