@model Homework_22_Web.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<h2 class="hform">@ViewData["Title"]</h2>

<form asp-action="Login" class="form-main" asp-antiforgery="true" asp-route-returnUrl="@Model.ReturnUrl">
    <div class="validation" asp-validation-summary="ModelOnly"></div>

    <label class="lable" asp-for="Username">Username:</label>
    <input asp-for="Username" />
    <span asp-validation-for="Username"></span>
    <br />

    <label class="lable" asp-for="Password">Password:</label>
    <input asp-for="Password" />
    <span asp-validation-for="Password"></span>
    <br />

    <label asp-for="RememberMe"></label><br />
    <input asp-for="RememberMe" />
    <br />

    <input class="button" type="submit" value="Login" />
</form>