CREATE DATABASE bank
GO

USE bank

CREATE TABLE Clients(
	[ClientId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[DepartId] [int] NOT NULL,
	[TransactionId] [int] NULL,
 CONSTRAINT [PK_Clients] PRIMARY KEY CLUSTERED (ClientId)
);
GO

CREATE TABLE Departments(
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[LoanRate] [tinyint] NOT NULL,
	[DepositRate] [tinyint] NOT NULL,
 CONSTRAINT [PK_Departments] PRIMARY KEY CLUSTERED (Id)
);
GO

CREATE TABLE Money(
	[ClientId] [int] NOT NULL,
	[Funds] [money] NULL,
	[Loan] [money] NULL,
	[Deposit] [money] NULL,
	[DepositType] [int] NULL,
 CONSTRAINT [PK_Money] PRIMARY KEY CLUSTERED (ClientId)
);
GO

CREATE TABLE Transactions(
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Operation] [nvarchar](500) NOT NULL,
	[ClientId] [int] NOT NULL,
 CONSTRAINT [PK_Transactions] PRIMARY KEY CLUSTERED (Id)
);
GO

CREATE TABLE DepositType(
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](50) NULL,
 CONSTRAINT [PK_DepositType] PRIMARY KEY CLUSTERED (Id)
);
GO


ALTER TABLE Clients WITH CHECK ADD CONSTRAINT [FK_Clients_Departments] FOREIGN KEY(DepartId)
REFERENCES Departments (Id)

ALTER TABLE Clients CHECK CONSTRAINT [FK_Clients_Departments]

ALTER TABLE Money WITH CHECK ADD CONSTRAINT [FK_Money_Clients] FOREIGN KEY(ClientId)
REFERENCES Clients (ClientId)

ALTER TABLE Money CHECK CONSTRAINT [FK_Money_Clients]

ALTER TABLE Money WITH CHECK ADD  CONSTRAINT [FK_Money_DepositType] FOREIGN KEY(DepositType)
REFERENCES DepositType (Id)

ALTER TABLE Money CHECK CONSTRAINT [FK_Money_DepositType]

ALTER TABLE Transactions  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Clients] FOREIGN KEY(ClientId)
REFERENCES Clients (ClientId)

ALTER TABLE Transactions CHECK CONSTRAINT [FK_Transactions_Clients]
GO

INSERT Departments VALUES (N'Individual', 15, 5)
INSERT Departments VALUES (N'Business', 10, 10)
INSERT Departments VALUES (N'VIP', 5, 15)
GO

INSERT DepositType VALUES (N'Simple')
INSERT DepositType VALUES (N'Capitalization')
GO

INSERT INTO Clients VALUES('Suki Battle',1),('Whoopi Franks',1),('Kermit Olsen',1),('Yoshi Gallagher',1),('Hamish Cole',1),('Emma Sharp',1),('Hilary Coleman',1),('Vance Barlow',1),('Felicia Sutton',1),('Dexter Huber',1);
INSERT INTO Clients VALUES('Lester Velez',1),('Zephania Rivers',1),('Aimee Huber',1),('Callum Hood',1),('Jakeem Donaldson',1),('Galena Schwartz',1),('Kyle Stafford',1),('Richard Le',1),('Naomi Alford',1),('Constance Tillman',1);
INSERT INTO Clients VALUES('Reese Espinoza',1),('Baker Burks',1),('Vaughan Slater',1),('Amity Cooke',1),('Destiny Huffman',1),('Lev Mccarty',1),('Vincent Douglas',1),('Daphne Owen',1),('Dora Gonzalez',1),('Paul Guerra',1);
GO

INSERT INTO Money VALUES(1,13922,0,0,NULL),(2,8452,0,0,NULL),(3,20543,0,0,NULL),(4,40967,0,0,NULL),(5,4595,0,0,NULL),(6,46566,0,0,NULL),(7,25378,0,0,NULL),(8,17358,0,0,NULL),(9,41162,0,0,NULL),(10,46062,0,0,NULL);
INSERT INTO Money VALUES(11,46814,0,0,NULL),(12,10516,0,0,NULL),(13,10740,0,0,NULL),(14,26993,0,0,NULL),(15,1213,0,0,NULL),(16,21018,0,0,NULL),(17,5459,0,0,NULL),(18,37907,0,0,NULL),(19,15563,0,0,NULL),(20,12695,0,0,NULL);
INSERT INTO Money VALUES(21,18124,0,0,NULL),(22,9670,0,0,NULL),(23,45049,0,0,NULL),(24,36542,0,0,NULL),(25,21236,0,0,NULL),(26,41542,0,0,NULL),(27,24922,0,0,NULL),(28,1840,0,0,NULL),(29,2407,0,0,NULL),(30,9335,0,0,NULL);
GO
